<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<!-- ******************************************************************** -->
<!-- This application contains VevoCart licensed; these components may only 
     be used as part of and in connection with this application. -->
<!-- ******************************************************************** -->
<configuration>
  <configSections>
    <section name="UrlConfiguration" type="Vevo.UrlModuleLib.Configuration.UrlConfigSerializerSectionHandler, UrlModuleLib" requirePermission="false"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" requirePermission="false"/>
    <section name="paypal" type="com.paypal.sdk.core.ConfigSectionHandler, paypal_base" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="DomainRegistrationKey" value=""/>
    <add key="DatabaseAvailable" value="True"/>
    <!-- Configuration Google Checkout-->
    <add key="GoogleEnvironment" value=""/>
    <add key="GoogleMerchantID" value=""/>
    <add key="GoogleMerchantKey" value=""/>
    <add key="Logging" value="False"/>
    <add key="LogDirectory" value=""/>
    <!-- General store configuration -->
    <add key="AdminSSLDisabled" value="False"/>
    <add key="SecretKey" value="vevotest"/>
    <add key="ProductDownloadPath" value="ProductFiles"/>
  </appSettings>
  <connectionStrings configSource="App_Data\ConnectionStrings_sql.config"/>
  <location path="WishList.aspx">
    <system.web>
      <authorization>
        <allow roles="Customers"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ChangeUserPassword.aspx">
    <system.web>
      <authorization>
        <allow roles="Customers"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
  <location path="ChangeAffiliateUserPassword.aspx">
    <system.web>
      <authorization>
        <allow roles="Affiliates"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ChangePasswordFinish.aspx">
    <system.web>
      <authorization>
        <allow roles="Customers"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
  <location path="ChangeAffiliatePasswordFinish.aspx">
    <system.web>
      <authorization>
        <allow roles="Affiliates"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="MyAccount.aspx">
    <system.web>
      <authorization>
        <allow roles="Customers"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="OrderHistory.aspx">
    <system.web>
      <authorization>
        <allow roles="Customers"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="RmaHistory.aspx">
    <system.web>
      <authorization>
        <allow roles="Customers"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AccountDashboard.aspx">
    <system.web>
      <authorization>
        <allow roles="Customers"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AccountDetails.aspx">
		<system.web>
			<authorization>
				<allow roles="Customers"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
  <location path="RewardPoints.aspx">
    <system.web>
      <authorization>
        <allow roles="Customers"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ContentSubscription.aspx">
		<system.web>
			<authorization>
				<allow roles="Customers"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
  <location path="ShippingAddressBook.aspx">
    <system.web>
      <authorization>
        <allow roles="Customers"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="GiftRegistryList.aspx">
    <system.web>
      <authorization>
        <allow roles="Customers"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="GiftRegistryAdd.aspx">
    <system.web>
      <authorization>
        <allow roles="Customers"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="GiftRegistryEdit.aspx">
    <system.web>
      <authorization>
        <allow roles="Customers"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="GiftRegistryItemList.aspx">
    <system.web>
      <authorization>
        <allow roles="Customers"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="GiftRegistrySelect.aspx">
    <system.web>
      <authorization>
        <allow roles="Customers"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Admin/UnitTest">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Admin/Login.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Admin/ForgotPassword.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Admin/PasswordRecoveryFinished.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Admin/Tools/AdminRecovery.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Admin/ResetPassword.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <!--<location path="Admin/DatabaseUpgrade.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>-->
  <location path="Admin">
    <system.web>
      <authorization>
        <allow roles="Administrators"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AffiliateDashboard.aspx">
    <system.web>
      <authorization>
        <allow roles="Affiliates"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AffiliateMain.aspx">
    <system.web>
      <authorization>
        <allow roles="Affiliates"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AffiliateDetails.aspx">
    <system.web>
      <authorization>
        <allow roles="Affiliates"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AffiliateGenerateLink.aspx">
    <system.web>
      <authorization>
        <allow roles="Affiliates"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AffiliateCommissionSearch.aspx">
    <system.web>
      <authorization>
        <allow roles="Affiliates"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AffiliateCommission.aspx">
    <system.web>
      <authorization>
        <allow roles="Affiliates"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <log4net>
    <appender name="PAYPALLOGFILE" type="log4net.Appender.RollingFileAppender">
      <file value="logs/paypal.aspnet.log"/>
      <appendToFile value="true"/>
      <encoding value="UTF-8"/>
      <rollingStyle value="5"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{dd MMM yyyy HH:mm:ss} %-5p [%C{1}] %m%n"/>
      </layout>
    </appender>
    <logger name="com.paypal.sdk">
      <level value="ERROR"/>
      <appender-ref ref="PAYPALLOGFILE"/>
    </logger>
  </log4net>
  <paypal>
    <trustAll value="true"/>
  </paypal>
  <system.web.extensions>
    <scripting>
      <webServices>
        <!-- Uncomment this line to customize maxJsonLength and add a custom converter -->
        <!--
      <jsonSerialization maxJsonLength="500">
        <converters>
          <add name="ConvertMe" type="Acme.SubAcme.ConvertMeTypeConverter"/>
        </converters>
      </jsonSerialization>
      -->
        <!-- Uncomment this line to enable the authentication service. Include requireSSL="true" if appropriate. -->
        <!--
        <authenticationService enabled="true" requireSSL = "true|false"/>
      -->
        <!-- Uncomment these lines to enable the profile service. To allow profile properties to be retrieved
           and modified in ASP.NET AJAX applications, you need to add each property name to the readAccessProperties and
           writeAccessProperties attributes. -->
        <!--
      <profileService enabled="true"
                      readAccessProperties="propertyname1,propertyname2"
                      writeAccessProperties="propertyname1,propertyname2" />
      -->
      </webServices>
      <!--
      <scriptResourceHandler enableCompression="true" enableCaching="true" />
      -->
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <modules>
      <remove name="DatabaseSetupModule"/>
      <add name="UrlModule" type="Vevo.UrlModule" preCondition="managedHandler"/>
    </modules>
    <handlers accessPolicy="Read, Write, Script, Execute">
      <remove name="CaptchaImageHandler"/>
      <add name="CaptchaImageHandler" preCondition="integratedMode" verb="GET" path="CaptchaImage.aspx" type="WebControlCaptcha.CaptchaImageHandler, WebControlCaptcha"/>
    </handlers>
  </system.webServer>
  <!-- This section is necessary for debugging the web application -->
  <system.web>
    <!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
    <compilation debug="false" targetFramework="4.0" defaultLanguage="c#" batch="false">
      <assemblies>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <caching>
      <sqlCacheDependency enabled="true" pollTime="1000">
        <databases>
          <add name="StoreDB" connectionStringName="StoreConnection"/>
        </databases>
      </sqlCacheDependency>
    </caching>
  </system.web>
  <!-- 
      This section is put in its own <location> tag to prevent web applications in 
      subfolders inheriting these settings. 
  -->
  <location path="." inheritInChildApplications="false">
    <system.web>
      <!-- maxRequestLength unit is in KB. This value limits how big uploaded file can be. -->
      <httpRuntime executionTimeout="600" maxRequestLength="90000" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" requestValidationMode="2.0"/>
      <pages styleSheetTheme="DefaultBlue" enableSessionState="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
        <controls>
          <add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
          <add tagPrefix="vevo" namespace="Vevo.WebUI.ServerControls" assembly="Vevo.WebUI.ServerControls"/>
          <add tagPrefix="vevo" namespace="Vevo.Shared.WebUI.ServerControls" assembly="Vevo.Shared.WebUI"/>
          <add tagPrefix="nStuff" namespace="nStuff.UpdateControls" assembly="nStuff.UpdateControls"/>
          <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
          <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        </controls>
      </pages>
      <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
      <authentication mode="Forms">
        <!-- "timeout" will set timeout for "Remember me" in minute -->
        <forms loginUrl="UserLogin.aspx" timeout="20000" slidingExpiration="false"/>
      </authentication>
      <httpHandlers>
        <remove verb="*" path="*.asmx"/>
        <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add verb="GET,HEAD" path="ScriptResource.axd" validate="false" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add verb="GET" path="CaptchaImage.aspx" type="WebControlCaptcha.CaptchaImageHandler, WebControlCaptcha"/>
      </httpHandlers>
      <httpModules>
        <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add type="Vevo.UrlModule" name="UrlModule"/>
      </httpModules>
      <siteMap defaultProvider="SmartSiteMapProvider" enabled="true">
        <providers>
          <clear/>
          <add name="SmartSiteMapProvider" type="Vevo.SmartSiteMapProvider" securityTrimmingEnabled="true"/>
        </providers>
      </siteMap>
      <!--
    /////////////////////////////////////////////////////////////////////////
      Start of Role, Membership, Profile, WebPart Providers
    /////////////////////////////////////////////////////////////////////////
    -->
      <roleManager enabled="true" defaultProvider="SqlCustomizedRoleProvider" cacheRolesInCookie="true" cookieName=".ASPXROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
        <providers>
          <add name="AccessRoleProvider" type="AccessProviders.AccessRoleProvider" connectionStringName="StoreConnection" applicationName="VevoCart"/>
          <add name="SqlCustomizedRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="StoreConnection" applicationName="VevoCart"/>
        </providers>
      </roleManager>
      <membership defaultProvider="SqlCustomizedMembershipProvider">
        <providers>
          <clear/>
          <add name="AccessMembershipProvider" type="AccessProviders.AccessMembershipProvider" connectionStringName="StoreConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresUniqueEmail="false" requiresQuestionAndAnswer="false" maxInvalidPasswordAttempts="20" minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0" applicationName="VevoCart" hashAlgorithmType="SHA1" passwordFormat="Hashed"/>
          <add name="SqlCustomizedMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="StoreConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresUniqueEmail="false" requiresQuestionAndAnswer="false" maxInvalidPasswordAttempts="20" minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0" applicationName="VevoCart" passwordFormat="Hashed"/>
        </providers>
      </membership>
      <profile enabled="true" defaultProvider="SqlCustomizedProfileProvider">
        <providers>
          <add name="AccessProfileProvider" type="AccessProviders.AccessProfileProvider" connectionStringName="StoreConnection" applicationName="VevoCart" description="Stores and retrieves profile data from an AccessProviders database."/>
          <add name="SqlCustomizedProfileProvider" applicationName="VevoCart" connectionStringName="StoreConnection" type="System.Web.Profile.SqlProfileProvider"/>
        </providers>
        <properties>
          <!--<add name="FriendlyName" type="string" allowAnonymous="true" serializeAs="String"/>
        <add name="Height" type="int" allowAnonymous="true" serializeAs="String"/>
        <add name="Weight" type="int" allowAnonymous="true" serializeAs="Xml"/>-->
        </properties>
      </profile>
      <anonymousIdentification enabled="true" cookieName=".ASPXANONYMOUS" cookieTimeout="100000" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="None" domain=""/>
      <webParts>
        <personalization defaultProvider="SqlCustomizedPersonalizationProvider">
          <providers>
            <add name="AccessPersonalizationProvider" type="AccessProviders.AccessPersonalizationProvider" connectionStringName="StoreConnection" applicationName="VevoCart"/>
            <add name="SqlCustomizedPersonalizationProvider" type="System.Web.UI.WebControls.WebParts.SqlPersonalizationProvider" connectionStringName="StoreConnection" applicationName="VevoCart"/>
          </providers>
        </personalization>
      </webParts>
      <!--
    /////////////////////////////////////////////////////////////////////////
      End of Role, Membership, Profile, WebPart Providers
    /////////////////////////////////////////////////////////////////////////
    -->
      <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
      <customErrors mode="On" defaultRedirect="GenericError.aspx">
        <error statusCode="404" redirect="Error404.aspx"/>
      </customErrors>
      <!--<globalization  fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" 
                    culture="en-US" uiCulture="en-US" />-->
      <globalization fileEncoding="utf-8"/>
      <sessionState timeout="45" mode="InProc"/>
      <webServices>
        <soapExtensionTypes>
          <add type="com.paypal.sdk.logging.DefaultSOAPHandler, paypal_base" priority="1" group="0"/>
        </soapExtensionTypes>
      </webServices>
    </system.web>
  </location>
</configuration>
