<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings/>
  <connectionStrings/>
  <system.web>
    <pages styleSheetTheme="DefaultBlue" enableSessionState="true">
    </pages>
  </system.web>
  <location path="WishList.aspx">
    <system.web>
      <authorization>
        <allow roles="Customers"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ChangeUserPassword.aspx">
    <system.web>
      <authorization>
        <allow roles="Customers"/>
        <allow roles="Affiliates"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ChangePasswordFinish.aspx">
    <system.web>
      <authorization>
        <allow roles="Customers"/>
        <allow roles="Affiliates"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="MyAccount.aspx">
    <system.web>
      <authorization>
        <allow roles="Customers"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="OrderHistory.aspx">
    <system.web>
      <authorization>
        <allow roles="Customers"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AccountDetails.aspx">
    <system.web>
      <authorization>
        <allow roles="Customers"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="GiftRegistryList.aspx">
    <system.web>
      <authorization>
        <allow roles="Customers"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="GiftRegistryAdd.aspx">
    <system.web>
      <authorization>
        <allow roles="Customers"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="GiftRegistryEdit.aspx">
    <system.web>
      <authorization>
        <allow roles="Customers"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="GiftRegistryItemList.aspx">
    <system.web>
      <authorization>
        <allow roles="Customers"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="GiftRegistrySelect.aspx">
    <system.web>
      <authorization>
        <allow roles="Customers"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>
