
.SidebarTop{filter: none!important;}
.menu-container{filter: none!important;}
.CenterBlockTopTitle{filter: none!important;}
a{filter: none!important;}
.CommonPageTop{filter: none!important;}
.ContentLayoutTop{filter: none!important;}
.CommonLoginPageTop{filter: none!important;}
.InstallBtnOrange, .InstallBtnGray {filter: none!important;}
.CatalogName{filter: none!important;}