<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services >
      <service name ="Vevo.WebServices.VevoCartWebServices"
               behaviorConfiguration ="ConfigBehavior">
        <endpoint name="InfoServiceBinding"
                   address ="/InfoService"
                   binding ="basicHttpBinding"
                   contract ="Vevo.WebServices.Info.IInfoService" />
        <endpoint name="SecurityServiceBinding"
           address ="/SecurityService"
           binding ="basicHttpBinding"
           contract ="Vevo.WebServices.Security.ISecurityService" />
        <endpoint name="ProductServiceBinding"
          address ="/ProductService"
          binding ="basicHttpBinding"
          contract ="Vevo.WebServices.Products.IProductService" />
        <endpoint name="CacheServiceBinding"
          address ="/CacheService"
          binding ="basicHttpBinding"
          contract ="Vevo.WebServices.Cache.ICacheService" />
        <endpoint name="CategoryServiceBinding"
          address ="/CategoryService"
          binding ="basicHttpBinding"
          contract ="Vevo.WebServices.Categories.ICategoryService" />
        <endpoint name="DepartmentServiceBinding"
          address ="/DepartmentService"
          binding ="basicHttpBinding"
          contract ="Vevo.WebServices.Departments.IDepartmentService" />
        <endpoint name="StoreServiceBinding"
          address ="/StoreService"
          binding ="basicHttpBinding"
          contract ="Vevo.WebServices.Stores.IStoreService" />
        <endpoint name="CustomerServiceBinding"
          address ="/CustomerService"
          binding ="basicHttpBinding"
          contract ="Vevo.WebServices.Customers.ICustomerService" />
        <endpoint name="ConfigurationServiceBinding"
          address ="/ConfigurationService"
          binding ="basicHttpBinding"
          contract ="Vevo.WebServices.Configurations.IConfigurationService" />
        <endpoint name="CultureServiceBinding"
          address ="/CultureService"
          binding ="basicHttpBinding"
          contract ="Vevo.WebServices.Cultures.ICultureService" />
        <endpoint name="OrderServiceBinding"
          address ="/OrderService"
          binding ="basicHttpBinding"
          contract ="Vevo.WebServices.Orders.IOrderService" />
		  <endpoint name="GiftCertificateServiceBinding"
          address ="/GiftCertificateService"
          binding ="basicHttpBinding"
          contract ="Vevo.WebServices.GiftCertificates.IGiftCertificateService" />
		  <endpoint name="CouponServiceBinding"
          address ="/CouponService"
          binding ="basicHttpBinding"
          contract ="Vevo.WebServices.Coupons.ICouponService" />
		  <endpoint name="QuantityDiscountServiceBinding"
          address ="/QuantityDiscountService"
          binding ="basicHttpBinding"
          contract ="Vevo.WebServices.QuantityDiscounts.IQuantityDiscountService" />
		  <endpoint name="CountryServiceBinding"
          address ="/CountryService"
          binding ="basicHttpBinding"
          contract ="Vevo.WebServices.Countries.ICountryService" />
		  <endpoint name="StateServiceBinding"
          address ="/StateService"
          binding ="basicHttpBinding"
          contract ="Vevo.WebServices.States.IStateService" />
		  <endpoint name="AffiliateServiceBinding"
          address ="/AffiliateService"
          binding ="basicHttpBinding"
          contract ="Vevo.WebServices.Affiliates.IAffiliateService" />
		  <endpoint name="CommissionPendingServiceBinding"
          address ="/CommissionPendingService"
          binding ="basicHttpBinding"
          contract ="Vevo.WebServices.CommissionPendings.ICommissionPendingService" />
		  <endpoint name="CommissionPaymentServiceBinding"
          address ="/CommissionPaymentService"
          binding ="basicHttpBinding"
          contract ="Vevo.WebServices.CommissionPayments.ICommissionPaymentService" />
		  <endpoint name="CurrencyServiceBinding"
          address ="/CurrencyService"
          binding ="basicHttpBinding"
          contract ="Vevo.WebServices.Currencies.ICurrencyService" />
      <endpoint contract="IMetadataExchange"
          binding="mexHttpBinding"
          address="mex" />
      </service >
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name ="ConfigBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug httpHelpPageEnabled="true" includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
